doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="file:///Users/petingo/Downloads/bootstrap.min.css")

    body
        img(src="https://upload.wikimedia.org/wikipedia/commons/6/66/NTUST-Emblem.png", style="opacity: 0.15;position: absolute;left: 50%;top: 50%;left: 50%;margin-left: -256px; margin-top: -250px;")
        .container
            .row.justify-content-center
                span.h4 NATIONAL TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY
                span.h4 TRANSCRIPT OF ACADEMIC RECORD
            .row.justify-content-center
                span Reg. No. #{studentId}
                span.ml-3 Name: #{engName}
                span.ml-3 Overall GPA: #{overallGPA}
            .row.justify-content-center
                span Major: #{major}

            .container.pt-2.text-center(style="font-size: 12px")
                .row.mt-2
                    .col-6.pr-3.pl-3(style="border-width:1px;border-style:solid;border-color:#333333;border-right-style:none;")
                    
                        .row.justify-content-center
                            span.mt-3.mb-2(style="text-align: center;")
                                strong
                                    u 1st Semester 2016/2017(Fall 2016)
                        
                        .row
                            table.table.table-borderless
                                tr
                                    td(style="width: 20%") Course No
                                    td(style="width: 56%") Course Title
                                    td(style="width: 12%") Credits
                                    td(style="width: 12%") Grade
                            
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+


                            table.table.table-borderless
                                tr
                                    td(style="width: 20%")
                                    td(style="width: 56%; text-align: right;") Total Credits Earned:
                                    td(style="width: 12%") 29
                                    td(style="width: 12%")
                                tr
                                    td(style="width: 20%")
                                    td(style="width: 56%; text-align: right;") Grade Point Average:
                                    td(style="width: 12%") 
                                    td(style="width: 12%") 4.08

                    .col-6.pr-3.pl-3(style="border-width:1px;border-style:solid;border-color:#333333;")
                        .row.justify-content-center
                            span.mt-3.mb-2(style="text-align: center;")
                                strong
                                    u 1st Semester 2016/2017(Fall 2016)
                        
                        .row
                            table.table.table-borderless
                                tr
                                    td(style="width: 20%") Course No
                                    td(style="width: 56%") Course Title
                                    td(style="width: 12%") Credits
                                    td(style="width: 12%") Grade
                            
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+
                                tr
                                    td(style="width: 20%") ET1603006
                                    td(style="width: 56%; text-align: left;") Physics
                                    td(style="width: 12%") 3
                                    td(style="width: 12%") A+


                            table.table.table-borderless
                                tr
                                    td(style="width: 20%")
                                    td(style="width: 56%; text-align: right;") Total Credits Earned:
                                    td(style="width: 12%") 29
                                    td(style="width: 12%")
                                tr
                                    td(style="width: 20%")
                                    td(style="width: 56%; text-align: right;") Grade Point Average:
                                    td(style="width: 12%") 
                                    td(style="width: 12%") 4.08
                        
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
        style .table td, .table th { padding: 0px; background: transparent; }
        //- style @media print { body{ background-img: url("https://upload.wikimedia.org/wikipedia/commons/6/66/NTUST-Emblem.png"); } }
        style @media print { @page { size:A4; margin-right: 3rem; }

        //- ET1603006", ch: "物理", en: "Physics", credit: "3", score: "A+"