doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        link(rel="stylesheet", href="file:///Users/petingo/Downloads/bootstrap.min.css")

    body
        img(src="https://upload.wikimedia.org/wikipedia/commons/6/66/NTUST-Emblem.png", style="opacity: 0.15;position: absolute;left: 50%;top: 50%;left: 50%;margin-left: -256px; margin-top: -250px;")
        .container
            .row.justify-content-center
                span.h4 NATIONAL TAIWAN UNIVERSITY OF SCIENCE AND TECHNOLOGY
                span.h4 TRANSCRIPT OF ACADEMIC RECORD
            .row.justify-content-center
                span Reg. No. #{studentId}
                span.ml-3 Name: #{engName}
                span.ml-3 Overall GPA: #{overallGPA}
                //- span.ml-3 Total Credits: #{totalCredits}
            .row.justify-content-center
                span Major: #{major}

            .container.pt-2.text-center(style="font-size: 12px")
                mixin course(code, name, credits, grade)
                    tr
                        td(style="width: 20%")= code
                        td(style="width: 56%; text-align: left;")= name
                        td(style="width: 12%")= credits
                        td(style="width: 12%")= grade

                mixin courseTable(semCourse, semCredits, semGPA)
                    table.table.table-borderless
                        tr
                            td(style="width: 20%") Course No
                            td(style="width: 56%") Course Title
                            td(style="width: 12%") Credits
                            td(style="width: 12%") Grade

                        each c in semCourse
                            +course(c.code, c.en, c.credit, c.grade)

                    table.table.table-borderless
                        tr
                            td(style="width: 20%")
                            td(style="width: 56%; text-align: right;") Total Credits Earned:
                            td(style="width: 12%") #{semCredits}
                            td(style="width: 12%")
                        tr
                            td(style="width: 20%")
                            td(style="width: 56%; text-align: right;") Grade Point Average:
                            td(style="width: 12%") 
                            td(style="width: 12%") #{semGPA}

                mixin semCol(semN, semYear, record)
                    .row.justify-content-center
                        span.mt-3.mb-2(style="text-align: center;")
                            strong
                                if sem == 1
                                    u 1st Semester #{semYear}/#{semYear + 1}(Fall #{semYear})
                                else
                                    u 2nd Semester #{semYear}/#{semYear + 1}(Spring #{semYear})
                    
                    .row
                        +courseTable(record.semCourse, record.semCredits, record.semGPA)

                mixin semRow(sem1, sem2)
                    .row.mt-2
                        .col-6.pr-3.pl-3(style="border-width:1px;border-style:solid;border-color:#333333;")
                            +semCol(sem1.semN, sem1.semYear, sem1.record)
                        if sem2 != undefined
                            .col-6.pr-3.pl-3(style="border-width:1px;border-style:solid;border-color:#333333;border-left-style:none;")
                                +semCol(sem2.semN, sem2.semYear, sem2.record)
                
                - for (let i = 0; i < semDataList.length; i += 2)
                    if i + 1 >= semDataList.length
                        +semRow(semDataList[i], undefined)
                    else
                        +semRow(semDataList[i], semDataList[i+1])
                        
        script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js")
        style .table td, .table th { padding: 0px; background: transparent; }
        style @media print { @page { size:A4; margin-right: 3rem; }
